#menu{
    display: none;
}
/* mediaqueries para tablets */
@media only screen and (max-width: 980px){
    #menu{
        display: block;
        float: right;
        font-size: 30px;
        color: white;
        margin: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .botonera{
        position: relative;
        float: none;
        left: -130%;
    }
    .botonera-open{
        left: 0%;
        background-color: blue;
    }
    .botonera ul{
        position: absolute;
        flex-direction: column;
        top: 70px;
        background-color: black;
        width: 100%;
    }
}